#view-stage-page ion-label {
  margin-top: 12px;
  margin-bottom: 12px;
}

#view-stage-page ion-item h2 {
  font-weight: 600;
}

#view-stage-page ion-item ion-icon {
  font-size: 42px;
}

#view-stage-page ion-item ion-note {
  font-size: 15px;
  font-weight: normal;
}

#view-stage-page h1 {
  margin: 0;
  font-weight: bold;
  font-size: 22px;
}

#view-stage-page p {
  line-height: 22px;
}

.contentScene {
  --padding-start: 20%;
  --padding-end: 20%;
  --padding-top: 4%;
  --padding-bottom: 8%;
}

.gridScene {
  margin-top: 30vh;
  height: 100vh;
  width: 100vw;
}

.backButton {
  position: absolute;
  top: 0;
  left: 0;
}

.filter {
  filter: contrast(0.4);
  transition: 0.2s ease-out;
}

ion-col {
  --ion-grid-columns: 3;
}

.backButton {
  height: 5.5rem;
}

.box {
  margin-top: 4vh;
  margin-left: 17vw;
  width: 60%;
  height: 80px;
  position: absolute;
  bottom: 3vh;
  /* border: solid 3px rgb(241, 0, 0); */
}

.smallImage {
  position: absolute;
  top: 25%;
  z-index: -1;
}

.smallImageDragged {
  position: absolute;
  /* top: 25%; */
  opacity: 0;
}

.smallImageSelected {
  position: absolute;
  top: 1.5vh;
  /* left: 20vw; */
  opacity: 0;
}
.playButton {
  position: absolute;
  right: 0;
}
