/* #view-stage-page ion-item {
  display: flex;
  flex-direction: column;
  --inner-padding-end: 0;
  --background: transparent;
} */

#view-stage-page ion-label {
  margin-top: 12px;
  margin-bottom: 12px;
}

#view-stage-page ion-item h2 {
  font-weight: 600;
}

#view-stage-page ion-item ion-icon {
  font-size: 42px;
}

#view-stage-page ion-item ion-note {
  font-size: 15px;
  font-weight: normal;
}

#view-stage-page h1 {
  margin: 0;
  font-weight: bold;
  font-size: 22px;
}

#view-stage-page p {
  line-height: 22px;
}

/* .gridscene {
   height: 100%; 
   width: 50%; 
   display: flex;
  align-items: center; 
} */
/*
.rowscene {
  display: contents;
} */

.contentScene {
  --padding-start: 20%;
  --padding-end: 20%;
  --padding-top: 4%;
  --padding-bottom: 8%;
}

ion-col {
  /* border: 1px solid grey; */
  /* text-align: center; */
  /* vertical-align: baseline; */
  --ion-grid-columns: 3;
}
